@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Regular.otf"); }
body {
  font-family: Akrobat;
  background-image: url("../img/photo_2019-05-22_11-06-27.jpg"); }

section {
  padding-top: 100px; }

.drive {
  width: 420px;
  margin: 40px 0; }

.logo {
  height: 30px; }

.s-form h4 {
  font-size: 40px;
  font-weight: 600;
  margin: 80px 0 50px 0; }
.s-form form {
  width: 460px; }
  .s-form form button {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    background-color: #fee030;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-align: center;
    color: black;
    width: 100%;
    text-transform: uppercase;
    outline: none;
    border: 0;
    padding: 15px 0; }

input {
  padding: 19px 35px;
  font-size: 34px;
  background-color: rgba(254, 224, 48, 0.4);
  width: 100%;
  border: 1px solid #dd7011;
  border-radius: 10px;
  outline: none;
  margin: 5px 0;
  text-align: center;
  font-weight: 600; }

footer a, footer i, footer p, footer u {
  color: #31353e; }

.btn-main {
  font-size: 28px;
  letter-spacing: 0.8px;
  text-align: center;
  color: black;
  border: 0;
  outline: none;
  cursor: pointer !important;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
  width: 25%;
  text-transform: uppercase;
  padding: 15px 0;
  border-radius: 10px;
  background-color: #fee030;
  font-weight: 600; }

html, body {
  overflow-x: hidden !important; }

header {
  padding-top: 50px; }
  header .main-container {
    margin: 10px 45px;
    text-align: center;
    border: 6px solid black; }
  header h3 {
    font-weight: 600; }

h2 {
  font-size: 43px;
  font-weight: 700;
  text-transform: uppercase; }

.description {
  padding-top: 50px; }
  .description p {
    font-size: 50px;
    text-transform: uppercase;
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%); }
  .description h3 {
    font-weight: 400;
    width: 42%; }
  .description h4 {
    font-size: 30px;
    font-weight: 500; }
  .description span {
    font-weight: 600; }

.nurlan {
  bottom: 0;
  right: 0;
  position: absolute;
  height: 650px; }

.price-offer--img {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg); }

.price-offer {
  bottom: 83px;
  right: 381px; }

.super-bonus h4 {
  text-align: center;
  font-size: 65px;
  margin-top: 80px; }
.super-bonus p {
  font-size: 35px;
  font-weight: 600; }
.super-bonus h5 {
  font-size: 85px;
  text-align: center; }
.super-bonus .yellow-line {
  border-top: 5px solid #fee030;
  -webkit-transform: translateY(126px);
  -moz-transform: translateY(126px);
  -ms-transform: translateY(126px);
  -o-transform: translateY(126px);
  transform: translateY(126px);
  width: 30%;
  text-align: center;
  margin: 0 auto; }
.super-bonus img {
  bottom: -51px;
  right: 224px;
  height: 338px; }

.learn-content {
  width: 32%; }
  .learn-content img {
    width: 80px; }

.bonuses p {
  font-size: 35px;
  font-weight: 600; }
.bonuses i {
  border-radius: 2px;
  border: solid 1px #cfa71e;
  background-color: rgba(254, 224, 48, 0.6);
  margin-right: 26px; }

h1 {
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase; }

.learn p {
  font-size: 30px; }

.hand-img {
  top: 0;
  right: 0;
  height: 400px; }

.bonuses h2 {
  margin-bottom: 80px; }
.bonuses p {
  margin-bottom: 50px; }
.bonuses img {
  right: 0;
  top: -270px; }

.china {
  background-image: url("../img/lin-qiang-38063-unsplash.png");
  height: 920px;
  margin-top: 200px;
  background-size: cover; }
  .china h4 {
    color: black;
    font-size: 70px;
    text-transform: uppercase;
    -webkit-transform: translateX(-242px);
    -moz-transform: translateX(-242px);
    -ms-transform: translateX(-242px);
    -o-transform: translateX(-242px);
    transform: translateX(-242px);
    width: 422px;
    font-weight: 700;
    background-color: #fee030; }
  .china p {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    width: 750px;
    -webkit-transform: translateX(-254px);
    -moz-transform: translateX(-254px);
    -ms-transform: translateX(-254px);
    -o-transform: translateX(-254px);
    transform: translateX(-254px);
    margin-top: 62px;
    background-color: #fee030; }

.line {
  border: 3px solid #fee030;
  margin-bottom: 25px;
  margin-right: 25px; }

.lines {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute; }

.lines-1 {
  left: -315px;
  top: 337px;
  width: 787px; }

.lines-2 {
  right: -189px;
  top: 287px;
  width: 632px; }

.lines-3 {
  bottom: -27PX;
  right: -54px;
  position: absolute;
  width: 720px; }

.lines-4 {
  left: -315px;
  top: 212px;
  width: 787px; }

.lines-5 {
  top: 380px;
  right: 0;
  position: absolute;
  width: 720px; }

.lines-6 {
  width: 902px;
  right: -312px;
  top: -31px; }

::placeholder {
  color: black; }

@media (max-width: 768px) {
  .s-form img {
    display: none; }
  .s-form .w-50 {
    width: 100% !important; }
  .s-form form {
    padding: 30px; }
  .s-form input[type=text],
  .s-form input[type=text],
  .s-form input[type=email] {
    padding: 15px;
    text-align: center;
    font-size: 14px; }
  .s-form h4 {
    font-size: 25px; } }

/*# sourceMappingURL=app.css.map */
